@using CafeAnalog.Data
@using Microsoft.AspNetCore.Identity
@model List<ShopCategoryModel>
@inject UserManager<AppUser> _userManager
@inject SignInManager<AppUser> _signInManager

@{
    ViewData["Title"] = "Shop";
}

@Html.AntiForgeryToken()

<div class="container">
    <div class="shop">
        <h1 class="items-heading">Shop</h1>
        @if (_signInManager.IsSignedIn(User))
        {
            var user = await _userManager.GetUserAsync(User);

            <div class="credit-balance">Credit Balance: @user.Balance.ToString("#.00") DKK</div>
        }

        @foreach (var category in Model)
        {
            <h3 class="shop-category">@category.Name</h3>
            <div class="row g-0">
                @foreach (var item in category.Items)
                {
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="item" data-id="@item.Id" data-name="@item.Name" data-price="@item.Price.ToString("#.00")">
                            <span>@item.Name</span>
                            <button class="btn btn-primary">Buy</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<div id="buy-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm purchase (<span id="item-price"></span> DKK)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p id="buy-response" class="d-none text-danger">Foo</p>
                <p class="mb-0">Are you sure you want to buy 10 tickets for <span id="item-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <input type="hidden" id="item-id" name="Id" />
                <button type="submit" id="buy-submit" class="btn btn-primary">Buy</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script asp-append-version="true" src="~/js/shop.js"></script>
}
