@model List<ShopCategoryModel>

@{
    ViewData["Title"] = "Shop";
}

@Html.AntiForgeryToken()

<div class="container">
    <div class="shop">
        <h1 class="shop-label">Shop</h1>

        @foreach (var category in Model)
        {
            <h3 class="shop-category">@category.Name</h3>
            <div class="row g-0">
                @foreach (var item in category.Items)
                {
                    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="shop-item" data-id="@item.Id" data-name="@item.Name" data-price="@item.Price.ToString("#.00")">
                            <span>@item.Name</span>
                            <button class="btn btn-primary buy-button">Buy</button>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
